$colorBackground1: #202020;
$colorBackground2: #FFFFFF;
$colorBackground3: #4A4A4A;
$colorFont: #FFFFFF;
$colorFont2: #CACACA;
$colorFont3: #202020;
$colorFont4: #999999;
$paddingContainer: 315px;
$colorFocus: #BC572B;
$colorHover: #FF6E30;
$colorActive: #CE4307;

