@media (min-width: 2440px) {
  .container__header {
    justify-content: space-between;
  }

  .section__head {
    font-size: 80px;
  }

  .hero__text {
    width: 75%;
    font-size: 28px;
  }

  .section__text {
    width: 75%;
    font-size: 22px;
    line-height: 36px;
  }

  .caption__text {
    font-size: 22px;
    line-height: 36px;
  }

  .article-right-top {
    padding-bottom:  145px;
    font-size: 22px;
    line-height: 36px;
  }

  .article-right-bottom {
    padding-bottom:  145px;
    font-size: 22px;
    line-height: 36px;
  }

  .work__head {
    margin-bottom: 50px;
  }

  .work__text {
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 50px;
  }

  .container__footer {
    justify-content: space-evenly;
  }

  .footer__link {
    font-size: 26px;
    line-height: 50px;
  }

  .form__input {
    width: 750px;
    height: 100px;
    font-size: 22px;
    line-height: 36px;
  }

  .form__textarea {
    width: 750px;
    height: 100px;
    font-size: 22px;
    line-height: 36px;
  }

  .form__item {
    margin-bottom: 30px;
  }

  .form__button {
    justify-content: flex-start;
  }

  .footer__text {
    font-size: 22px;
    line-height: 36px;
    align-self: center;
  }

}

@media (max-width: 1850px) {

  .container__header {
    justify-content: space-between;

  }

  .header__logo {
    margin-right: 150px;
  }

  .header__nav {
    margin-right: auto;
  }

  .swiper-slide img {
    width: 100%;
    height: 100%;
  }

  .container__footer {
    justify-content: space-between;
  }

  .footer__logo {
    margin-right: 150px;
  }

  .footer__form {
    margin-right: auto;
  }

  .caption__text {
    margin-right: 50px;
  }

}

@media (max-width: 1500px) {

  .container {
    padding: 0 50px;
  }

  .container__header {
    position: relative;
    justify-content: space-between;
    padding: 26px 50px;
    margin-bottom: 37px;
  }

  .header__nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 41%;
    min-width: 420px;
    background: #FFFFFF;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 32px 32px;
    height: 100vh;
    z-index: 1000;
    padding: 170px 142px 249px 50px;
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-120%);
    transition: visibility 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  }

  .header__nav .nav__list {
    display: flex;
    flex-direction: column;
  }

  .header__nav .nav__item {
    margin-right: 0;
  }

  .header__nav .nav__item:not(:last-child) {
    margin-bottom: 60px;
  }

  .header__nav .nav__link {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }

  .header__burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    position: relative;
    width: 32px;
    height: 23px;
    padding: 0 1px;
    border: none;
    z-index: 1001;
  }

  .burger-line {
      position: absolute;
      width: 30px;
      height: 3px;
      background-color: var(--black-color);
  }

  .burger-line:nth-child(1) {
    top: 0;
  }

  .burger-line:nth-child(3) {
    bottom: 0;
  }

  .burger-line:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }

  .header__nav--active {
    visibility: visible;
    transform: none;
  }

  .burger--active
  .burger-line:first-child {
    left: 25%;
    top: 50%;
    height: 2px;
    transform: rotate(45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out,
    top 0.3s ease-in-out,
    left 0.3s ease-in-out;
  }

  .burger--active
  .burger-line:nth-child(2) {
      opacity: 0;
    }

  .burger--active
  .burger-line:last-child {
    bottom: auto;
    left: 25%;
    top: 50%;
    height: 2px;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out,
    top 0.3s ease-in-out,
    left 0.3s ease-in-out;
  }

  .stop-scroll {
    overflow: hidden;
  }

  .header__logo {
    margin-right: 0;
  }

  .header__logo svg {
    width: 150px;
    height: 48px;
  }

  .section__head {
    font-size: 60px;
    line-height: 73px;
    margin-bottom: 15px;
  }

  .hero__block {
    padding-top: 160px;
    padding-bottom: 160px;
    width: 100%;
  }

  .hero__text {
    max-width: 660px;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 60px;
  }

  .caption__item:not(:last-child) {
    margin-right: 0;
  }

  .caption__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .caption__list {
    flex-direction: column;
  }

  .caption-left {
    flex-basis: 100%;
    max-width: 100%;
    min-height: 640px;
  }

  .caption-right {
    flex-basis: 100%;
    max-width: 100%;
  }

  .caption__text {
    margin-right: 195px;
  }

  .section:first-child {
    margin-bottom: 35px;
  }

  .section__text {
    width: 100%;
    margin-bottom: 60px;
  }

  .article-left {
    padding: 50px;
  }

  .article-right-top {
    padding: 65px 153px 65px 317px;
    background-position: 77px 65px;
  }

  .article-right-bottom {
    padding: 65px 157px 65px 317px;
    background-position: 77px 65px;
  }

  .caption {
    margin-bottom: 80px;
  }

  .work__article-left {
    margin-right: 50px;
    max-width: calc((100% - 50px) / 2)
  }

  .work__article-right {
    max-width: calc((100% - 50px) / 2);
  }

  .step-1 {
    background-image: url(../img/background-step-1024-1.png);
  }

  .step-2 {
    background-image: url(../img/background-step-1024-2.png);
  }

  .step-3 {
    background-image: url(../img/background-step-1024-3.png);
  }

  .step-4 {
    background-image: url(../img/background-step-1024-4.png);
  }

  .work__title {
    margin-bottom: 49px;
  }

  .tabs__nav-list {
    margin-bottom: 48px;
  }

  .tabs__nav-item:not(:last-child) {
      margin-right: 86px;
  }

  .work__text {
    width: 100%;
    margin-bottom: 25px;
  }

  .section__work {
    margin-bottom: 80px;
  }

  .questions__link {
    font-size: 20px;
    padding-top: 29px;
    padding-bottom: 30px;
  }

  .link-2 {
    max-width: 639px;
  }

  .questions {
    margin-bottom: 80px;
  }

  .container__footer {
    justify-content: space-between;
    padding: 50px;
  }

  .footer__logo {
    margin-right: auto;
  }

  .footer__text {
    display: none;
    width: 0;
    height: 0;
  }

  .footer__list {
    min-width: 251px;
  }

  .form__input {
    width: 100%;
  }

  .footer__form {
    margin-right: 0;
  }

  .form__textarea {
    width: 100%;
  }

  .form__btn {
    padding: 19px 38px;
    margin-right: 20px;
  }
}

@media (max-width: 992px) {

  .hero__block {
    width: 80%;
  }

  .caption__text {
    margin-right: 47px;
  }

  .tabs__nav-list {
    justify-content: space-between;
  }

  .work__article-steps {
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }

  .work__article-left {
    margin-right: 0;
    flex-basis: 100%;
    background-repeat: no-repeat;
  }

  .article-step-1 {
    background-image: url(../img/backgroung-step-768-1.png);
  }

  .article-step-2 {
    background-image: url(../img/backgroung-step-768-2.png);
  }

  .article-step-3 {
    background-image: url(../img/backgroung-step-768-3.png);
  }

  .article-step-4 {
    background-image: url(../img/backgroung-step-768-4.png);
  }

  .work__article-right {
    display: none;
  }

  .work__article-left {
    width: 100%;
    max-width: 100%;
  }

  .work__head {
    padding-top: 410px;
  }

  .work__text {
    min-width: 100%;
    margin-bottom: 23px;
  }

  .section__work {
    margin-bottom: 49px;
  }

  .questions__link svg {
    min-width: 50px;
    min-height: 50px;
  }

  .container__footer {
    flex-direction: column-reverse;
  }

  .footer__logo {
    width: 541px;
    margin-right: 0;
    flex-direction: column;
    flex-wrap: wrap;
    background-position: bottom;
  }

  .footer__nav {
    display: none;
  }

  .footer__form {
    width: 541px;
    margin-bottom: 50px;
  }

  .footer__links {
    margin-bottom: 30px;
  }

}

@media (max-width: 768px) {

  .container__header {
    padding: 11px 50px 10px;
  }

  .section__head {
    font-size: 50px;
    line-height: 61px;
    margin-bottom: 19px;
  }

  .swiper-backface-hidden .swiper-slide.slide-1 {
    border-radius: 24px;
  }

  .swiper-backface-hidden .swiper-slide.slide-2 {
    border-radius: 24px;
  }

  .swiper-backface-hidden .swiper-slide.slide-3 {
    border-radius: 24px;
  }

  .hero {
    border-radius: 24px;
  }

  .hero__content {
    padding-left: 40px;
    padding-right: 40px;
  }

  .hero__block {
    padding-top: 155px;
    width: 100%;
  }

  .hero__text {
    font-size: 18px;
    line-height: 22px;
  }

  .work__head {
    padding-top: 325px;
  }

  .caption-left {
    background-image: url(../img/background-photo-4-2.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .article-left {
    padding: 29px 40px;
  }

  .caption__text {
    margin-right: 47px;
  }

  .article-right-top {
    background-image: url(../img/Frame-1-2.svg);
    background-position: 40px 68px;
    padding: 41px 44px 35px 170px;
  }

  .article-right-bottom {
    background-image: url(../img/Frame2-2.svg);
    background-position: 40px 68px;
    padding: 35px 46px 35px 170px;
  }

  .questions__title {
    margin-bottom: 30px;
  }

  .questions__link {
    padding-top: 30px;
    padding-bottom: 29px;
    justify-content: space-between;
  }

  .link-2 {
   max-width: 489px;
  }

  .link-3 {
    max-width: 520px;
  }

  .link-4 {
    max-width: 566px;
  }

  .link-5 {
    max-width: 565px;
  }

  .questions {
    margin-bottom: 112px;
  }

  .footer__form {
    margin-bottom: 53px;
  }

  .footer__logo svg {
    margin-bottom: 16px;
  }

  .footer__form {
    width: 100%;
  }

  .form__item:not(:last-child) {
    width: 81%;
  }

  .form__button {
    width: 100%;
    justify-content: flex-start;
  }
}

@media (max-width: 638px) {

  .container {
    padding: 0 15px;
  }

  .header__nav {
    padding: 78px 97px 101px 15px;
  }

  .header__nav .nav__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .header__nav .nav__link {
    font-size: 16px;
    line-height: 20px;
  }

  .header__form {
    width: 100%;
    border-radius: 0px 0px 24px 24px;;
    height: 69px;
    padding: 21px 15px;
  }

  .header__form-input {
    width: 222px;
  }

  .header__form-label {
    font-size: 16px;
    line-height: 20px;
  }

  .hero__btn {
    margin-bottom: 115px;
  }

  .article-step-1 {
    background-image: url(../img/background-step-324-1.png);
  }

  .article-step-2 {
    background-image: url(../img/background-step-324-2.png);
  }

  .article-step-3 {
    background-image: url(../img/background-step-324-3.png);
  }

  .article-step-4 {
    background-image: url(../img/background-step-324-4.png);
  }

  .container__footer {
    padding-top: 33px;
  }

  .footer__form {
    width: 100%;
  }

  .form__item:not(:last-child) {
    width: 100%;
  }

  .form__button {
    flex-direction: column;
    align-items: center;
  }

  .form__btn {
    margin-bottom: 12px;
    padding: 12px 28px;
    width: 180px;
    font-size: 12px;
    line-height: 15px;
    border-radius: 8px;
  }

  .footer__logo {
    width: 100%;
    align-items: center;
  }

  .caption-left {
    background-image: url(../img/background-photo-4.png);
    min-height: 0;
    background-size: contain;
  }

  .article-left {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    padding-top: 75%;
    background: transparent;
  }

  .caption__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: var(--black-color);
    margin-right: 0;
    margin-bottom: 12px;
  }

  .caption__btn {
    color: var(--yellow-main);
    padding: 12px 44px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    border-radius: 8px;
  }

  .hero__block {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .section__head {
    font-size: 20px;
    line-height: 24px;
  }

  .section__text {
    font-size: 14px;
    line-height: 28px;
  }

  .hero__text {
    font-size: 12px;
    line-height: 15px;
  }

  .hero__btn {
    font-size: 12px;
    line-height: 15px;
    padding: 13px 28px;
    align-self: center;
    border-radius: 8px;
  }

  .article-right-top {
    background-color: transparent;
    background-position: 0 0;
    padding: 0;
    padding-top: 110px;
    border: none;
  }

  .caption__head {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .caption__block {
    font-size: 14px;
    line-height: 28px;
  }

  .article-right-bottom {
    background-color: transparent;
    background-position: 0 0;
    padding: 0;
    padding-top: 110px;
    border: none;
  }

  .caption {
    margin-bottom: 61px;
  }

  .section__title {
    font-size: 24px;
    line-height: 29px;
  }

  .questions__name {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  .questions__link svg {
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
}

  .footer__head {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }

  .form__input {
    font-size: 14px;
  }

  .form__textarea {
    font-size: 14px;
  }

  .tabs__nav-list {
    margin-bottom: 20px;
  }

  .work__head {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    padding-top: 53%;
  }

  .tabs__nav-button {
    font-size: 14px;
    line-height: 17px;
  }

  .work__btn {
    font-size: 12px;
    line-height: 15px;
    padding: 12px 44px;
    border-radius: 8px;
  }

  .work__btn:not(:last-child) {
    margin-right: 10px;
  }

  .work__btn-right {
    padding: 12px 32px;
  }

  .work__text {
    font-size: 14px;
    line-height: 28px;
  }

  .tabs__nav-item:not(:last-child) {
    margin-right: auto;
}

  .footer__svg svg {
    width: 40px;
    height: 40px;
  }

  .questions {
    margin-bottom: 60px;
  }
}

@media (max-width: 320px) {

  .container__header {
    border-radius: 0px 0px 16px 16px;
    padding-top: 6px;
    padding-bottom: 13px;
    margin-bottom: 30px;
  }

  .header__logo svg {
    width: 110px;
    height: 35px;
  }

  .hero {
    border-radius: 16px;
  }

  .hero__block {
    padding-bottom: 25px;
  }

  .swiper-backface-hidden .swiper-slide.slide-1 {
    border-radius: 16px;
  }

  .swiper-backface-hidden .swiper-slide.slide-2 {
    border-radius: 16px;
  }

  .swiper-backface-hidden .swiper-slide.slide-3 {
    border-radius: 16px;
  }

  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
      bottom: 10px;
      left: 0;
      width: 100%;
  }

  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
      padding-bottom: 5px;
  }

  .swiper-slide img {
    border-radius: 16px;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .section__head {
    margin-bottom: 7px;
    text-align: center;
  }

  .hero__content {
    padding-left: 22px;
  }

  .hero__text {
    margin-bottom: 32px;
    text-align: center;
  }

  .hero__btn {
    margin-bottom: 34px;
  }

  .section:first-child {
    margin-bottom: 60px;
  }

  .section__text {
    margin-bottom: 14px;
  }

  .caption-left {
    background-image: url(../img/background-photo-4-3.png);
    border-radius: 16px;
  }

  .article-left {
    padding-top: 208px;
  }

  .caption__btn {
    width: 162px;
    height: 39px;
    padding: 11px 42px;
  }

  .article-right-top {
    background-image: url(../img/Frame1-3.svg);
    padding-top: 61px;
  }

  .article-right-bottom {
    background-image: url(../img/Frame2-3.svg);
    padding-top: 61px;
  }

  .caption__head {
    margin-bottom: 4px;
  }

  .work__title {
    margin-bottom: 20px;
  }

  .tabs__nav-list {
    margin-bottom: 15px;
  }

  .work__article {
    background-image: url(../img/background-photo-5-4.png);
    border-radius: 16px;
  }

  .work__head {
    padding-top: 176px;
  }

  .work__btn {
    padding: 0;
  }

  .work__btn-left {
    padding: 11px 44px;
  }

  .work__btn-right {
    padding: 12px 31px;
  }

  .section__work {
    margin-bottom: 60px;
  }

  .questions__title {
    margin-bottom: 16px;
  }

  .link-3 {
    max-width: 211px;
  }

  .container__footer {
    padding-top: 34px;
  }

  .footer__head {
    margin-bottom: 20px;
  }

  .form__input {
    padding: 14px 20px;
  }

  .form__textarea {
    padding: 15px 20px;
  }

  .form__button {
    justify-content: center;
  }

  .form__btn {
    height: 39px;
    margin-right: 0;
    margin-bottom: -7px;
    padding: 12px 28px;
  }

  .form__item {
    margin-bottom: 24px;
  }

  .footer__logo svg {
    width: 131px;
    height: 42px;
  }

  .footer__form {
    margin-bottom: 33px;
  }

  .footer__links svg {
    width: 40px;
    height: 40px;
  }

  .footer__svg:not(:last-child) {
    margin-right: 16px;
  }

}
